<template>
  <button class="square">
    {{ move }}
  </button>
</template>

<script>
export default {
  props: {
    move: {}
  }
}
</script>
<style>
.square {
  height: 4cm;
  width: 100%;
  font-size: 55pt;
  background-color: white;
  border-color: white;
}

.square:disabled {
  background-color: rgb(197, 194, 194);
}

.square:hover:disabled {
  border-color: red;
}

.square:hover{
  border-color: green;
}
</style>