<template>
  <div id="game" class="container">
    <div class="row"> 
      <scoreboard :id="player.name" :name="player.name" class="col-4" :score="player.score" />
      <div class="col-4 text-center"><h2>||</h2></div>
      <scoreboard :id="robot.name" :name="robot.name" class="col-4" :score="robot.score" />
    </div>
    <div class="row">
      <button class="reset col-6" @click="resetGame()">Reset</button>
      <button class="reset col-6" @click="newGame()">New Game</button>
    </div>
    <div class="row mt-3">
      <Btn :move="getMove(0)" id="btn0" class="col-4" @click="clickOnBtn(0)" />
      <Btn :move="getMove(1)" id="btn1" class="col-4" @click="clickOnBtn(1)" />
      <Btn :move="getMove(2)" id="btn2" class="col-4 border-end-0" @click="clickOnBtn(2)"/>
    </div>
    <div class="row">
      <Btn :move="getMove(3)" id="btn3" class="col-4" @click="clickOnBtn(3)" />
      <Btn :move="getMove(4)" id="btn4" class="col-4" @click="clickOnBtn(4)" />
      <Btn :move="getMove(5)" id="btn5" class="col-4 border-end-0" @click="clickOnBtn(5)" />
    </div>
    <div class="row">
      <Btn :move="getMove(6)" id="btn6" class="col-4 border-bottom-0" @click="clickOnBtn(6)" />
      <Btn :move="getMove(7)" id="btn7" class="col-4 border-bottom-0" @click="clickOnBtn(7)" />
      <Btn :move="getMove(8)" id="btn8" class="col-4 border-bottom-0 border-end-0" @click="clickOnBtn(8)" />
    </div>
  </div>
</template>

<script>
import Scoreboard from "./components/Scoreboard.vue";
import Btn from "./components/Btn.vue";
import Robot from "./js/Robot.js"
export default {
  components: { Btn, Scoreboard },
  methods: {
    getMove(index) {
      return this.moveList[index] ? this.moveList[index] : " ";
    },
    isEquals(a, b, c, playerName) {
      const win = (a === b) & (b === c) & (c === playerName) ? true : false;
      return win;
    },
    testMoves(playerName) {
      return (
        this.isEquals( this.moveList[0], this.moveList[1], this.moveList[2], playerName ) || // Start Horizontal
        this.isEquals( this.moveList[3], this.moveList[4], this.moveList[5], playerName ) ||
        this.isEquals( this.moveList[6], this.moveList[7], this.moveList[8], playerName ) || // End Horizontal
        this.isEquals( this.moveList[0], this.moveList[4], this.moveList[8], playerName ) || // Start Diagonal
        this.isEquals( this.moveList[2], this.moveList[4], this.moveList[6], playerName ) || // End Diagonal
        this.isEquals( this.moveList[0], this.moveList[3], this.moveList[6], playerName ) || // Start Vertical
        this.isEquals( this.moveList[1], this.moveList[4], this.moveList[7], playerName ) ||
        this.isEquals( this.moveList[2], this.moveList[5], this.moveList[8], playerName )    // End Vertical
      ) ? true : false
    },
    isWinner() {
      return this.testMoves(this.currentPlayer.name)
    },
    debug() {
      // TODO remove for production
      console.log(`
        Current Player = ${this.currentPlayer.name}
        ${this.moveList[0]} | ${this.moveList[1]} | ${this.moveList[2]}
        ${this.moveList[3]} | ${this.moveList[4]} | ${this.moveList[5]}
        ${this.moveList[6]} | ${this.moveList[7]} | ${this.moveList[8]}
      `);
    },
    resetGame() {
      this.player = {name: "X", score: 0}
      this.robot = new Robot("O", 0, this.player.name)
      this.newGame()
    },
    newGame() {
      this.currentPlayer = this.player
      for (let i = 0; i < 9; i++) {
        this.moveList[i] = "";
      }
      this.btnList = [...document.getElementsByClassName("square")];
      this.disableAllBtns(false)
      this.btnList.forEach(btn => {
        btn.style.color = "black";
      })
    },
    changePlayer() {
      this.currentPlayer = ( this.currentPlayer === this.player ) ? this.robot : this.player
    },
    clickOnBtn(index) {
      const id = "btn" + index;
      const btn = document.getElementById(id);
      this.moveList[index] = this.currentPlayer.name;
      btn.disabled = true;
      if( this.isWinner() ) {
        this.currentPlayer.score++
        this.disableAllBtns()
        this.showCorrectMoves()
      }
      this.changePlayer()
      if(this.currentPlayer === this.robot){
        this.robot.setMoveList(this.moveList)
        this.robot.setNextMove()
        if(this.robot.nextMove != null){
          this.btnList[this.robot.nextMove].click()
        }
      } 
    },
    showCorrectMoves() {
      if( this.isEquals( this.moveList[0], this.moveList[1], this.moveList[2], this.currentPlayer.name ) ) {
        this.btnList[0].style.color = "red";
        this.btnList[1].style.color = "red";
        this.btnList[2].style.color = "red";
      }  // Start Horizontal
      if( this.isEquals( this.moveList[3], this.moveList[4], this.moveList[5], this.currentPlayer.name ) ) {
        this.btnList[3].style.color = "red";
        this.btnList[4].style.color = "red";
        this.btnList[5].style.color = "red";
      } 
      if( this.isEquals( this.moveList[6], this.moveList[7], this.moveList[8], this.currentPlayer.name ) ) {
        this.btnList[6].style.color = "red";
        this.btnList[7].style.color = "red";
        this.btnList[8].style.color = "red";
      }  // End Horizontal
      if( this.isEquals( this.moveList[0], this.moveList[4], this.moveList[8], this.currentPlayer.name ) ) {
        this.btnList[0].style.color = "red";
        this.btnList[4].style.color = "red";
        this.btnList[8].style.color = "red";
      }  // Start Diagonal
      if( this.isEquals( this.moveList[2], this.moveList[4], this.moveList[6], this.currentPlayer.name ) ) {
        this.btnList[2].style.color = "red";
        this.btnList[4].style.color = "red";
        this.btnList[6].style.color = "red";
      }  // End Diagonal
      if( this.isEquals( this.moveList[0], this.moveList[3], this.moveList[6], this.currentPlayer.name ) ) {
        this.btnList[0].style.color = "red";
        this.btnList[3].style.color = "red";
        this.btnList[6].style.color = "red";
      }  // Start Vertical
      if( this.isEquals( this.moveList[1], this.moveList[4], this.moveList[7], this.currentPlayer.name ) ) {
        this.btnList[1].style.color = "red";
        this.btnList[4].style.color = "red";
        this.btnList[7].style.color = "red";
      } 
      if( this.isEquals( this.moveList[2], this.moveList[5], this.moveList[8], this.currentPlayer.name ) ) {
        this.btnList[2].style.color = "red";
        this.btnList[5].style.color = "red";
        this.btnList[8].style.color = "red";
      }  // End Vertical
    },
    disableAllBtns(isDisabled = true){
      this.btnList.forEach(btn => {
        btn.disabled = isDisabled
      })
    }
  },
  data() {
    return {
      // players:[[],[]],
      player: {},
      currentPlayer: {},
      moveList: [],
      btnList: [],
      robot: new Robot()
    };
  },
  mounted() {
    this.resetGame()
    this.robot.setMoveList(this.moveList) // TODO Remove 
  }
};
</script>

<style>
button.reset {
  background-color: rgb(25, 90, 110);
  font-size: 12pt;
  font-weight: bold;
}
#game {
  width: 80%;
  height: 100%;
}
</style>
